
.header {
  background: #000;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}



.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
}



.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


.form__group-title {
  width: 20%;
  text-align: left;
}

.form__label--item {
  font-weight: bold;
}

.form__label--required {
  margin-left: 5px;
  padding: 4px 6px;
  border-radius: 3px;
  background: #fafafa;
  color: #aaa;
  font-size: 12px;
}

.form__group-content {
  width: 75%;
}

.form__input--text input,
.form__input--textarea textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
  background: #fff;
}

.form__input--text input {
  height: 40px;
}

.form__input--textarea textarea {
  height: 180px;
}


.form__error {
  height: 20px;
  color: #ff0000;
  font-size: 14px;
  margin-top: 4px;
}



.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.form__button-submit:hover {
  opacity: 0.8;
}
