.register__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.register__heading {
  margin-bottom: 40px;
  text-align: center;
}

/* ※ form, input, button 系は index.css のものをそのまま利用 */
